.post-actions {
  display: flex;
  gap: 10px;
}


.post-card {
  min-width: 120px;
  overflow: hidden;
  border-radius: 12px;
  background: linear-gradient(rgba(245, 245, 245, 0.85), transparent 150%), rgba(161, 161, 161, 0.85);
  word-wrap: break-word;
}


#photo-upload {
  display: none;
}

textarea {
  background: transparent;
  font-family: inherit;
  font-size: 1.1em;
  padding: 1em;
  resize: none;
  width: 350px;
  min-height: 300px;
  border: none;
  outline: none;
}

#post-preview {
  text-align: right;
  margin-top: 1em;
}

#post-preview-image {
  object-fit: cover;
  object-position: center;
  width: 150px;
  height: 100px;
  border-radius: 1em;
  border: 1px dashed gray;
}
