.app-wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  overflow: hidden;
  background-image: url("src/assets/welcome/planet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /*background: cadetblue;*/
}

.content-section {
  /*background: moccasin;*/
  flex-grow: 1;
}

.bottom-section {
  display: flex;
  margin:auto;
  /*background: coral;*/
}

.bottom-section app-footer {
  margin: auto;
}

.top-section {
  /*background-color: aquamarine;*/
  text-align: center;
  /*flex-grow: 1;*/
  padding: 25px 0;
}

.top-section h1 {
  font-size: 80px;
  font-weight: bolder;
  color: #f5f5f5;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
}

.top-section h2 {
  font-size: 28px;
  color: white;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
.navbar {
  /*justify-content: space-between;*/
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}

.tabs {
  display: flex;
  gap: 14px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  margin: 50px 12px 12px;
}

.tab-tile {
  display: flex;
  padding: 18px;
  /*background: rgba(0, 0, 0, 0.1);*/
  /*background: linear-gradient(45deg, steelblue, #e2e2e2);*/
  backdrop-filter: blur(3px);
  cursor: pointer;
  /*border-radius: 10px;*/

  transition: all 0.2s ease-out;
}

.tab.selected .tab-tile {
  transform: translateY(-50%);
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0, 0, 0, 2);
}

.tab {
  position: relative;

  text-decoration: none;
  z-index: 1;
}

.tab-tile::before {
  content: '';
  position: absolute;

  top: 0;
  left: 0;

  z-index: -1;

  height: 100%;
  width: 100%;

  border-radius: 10px;

  opacity: 0.9;

  background: rgba(0, 0, 0, 0.1);
  background: linear-gradient(45deg, steelblue, #e2e2e2);

  transition: all 0.2s ease-out;

}

.tab.selected .tab-tile::before {
  box-shadow: 0px 7px 17px rgba(0,0,0,0.12);
  border-radius: 50%;
  transform: scale(1.1);
  opacity: 1;

  transition-delay: 0.1s;
}

.login-tab .tab-tile::before {
  background: linear-gradient(45deg, steelblue, #e2e2e2);
}

.registration-tab .tab-tile::before {
  background: linear-gradient(45deg, lightskyblue, #e2e2e2);
}

.info-tab .tab-tile::before {
  background: linear-gradient(45deg, cornflowerblue, #e2e2e2);
}

.tab-tile:hover::before {
  transform: scale(1.1);
  opacity: 1;
}

.tab-tile i {
  color: #222;
}

/* UNDERLINE EFFECTS */

.tab::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;

  height: 3px;
  width: 50%;

  margin: auto;

  background-color: rgba(255, 255, 255, 0.85);

  border-radius: 2px;

  transition: all 0.2s;

  opacity: 0;
  transform: scaleX(0);
}

.tab.selected::before {
  opacity: 1;
  transform: scaleX(1);
  transition-delay: 0.4s;
}

.tab.selected {
  outline: none;
}

/* REGISTRATION-WRAPPER */
.registration-wrapper {
  display:inherit;
  padding: 10px;
  /*background: rgba(255, 255, 255, 0.25);*/
  border-radius: 12px;
  margin: auto;
  /*margin: 50px 20px 20px;*/
  /*background-image: inherit;*/
}

.login-wrapper {
  display:inherit;
  padding: 10px;
  /*background: rgba(255, 255, 255, 0.25);*/
  border-radius: 12px;
  margin: auto;
}

.info-wrapper {
  display: grid;
  justify-content: center;
}

.info-wrapper button {
  background-color: transparent;
  width: 25%;
  height: 150%;
}

