<div class="app-wrapper">
  <div class="top-section">
    <h1>Welcome to Eden</h1>
    <h2>Share your thoughts and experiences</h2>
  </div>

  <div class="content-section">
    <div *ngIf="isLoginState()" class="login-wrapper">
      <app-login></app-login>
    </div>
    <div *ngIf="isInfoState()" class="info-wrapper">
      <app-landing-section></app-landing-section>
    </div>
    <div *ngIf="isRegisterState()" class="registration-wrapper">
      <!--<div class="container">-->
        <app-registration-stepper></app-registration-stepper>
      <!--</div>-->
    </div>
  </div>

  <div class="bottom-section">
    <div class="tabs">
      <a (click)="onLoginClick()"
         [ngClass] = "{'selected': isLoginState()}"
         class="tab login-tab">
        <div class="tab-tile">
          <i class="material-icons-outlined">face_5</i>
        </div>
      </a>

      <a (click)="onInfoClick()"
         [ngClass] = "{'selected': isInfoState()}"
        class="tab info-tab">
        <div class="tab-tile">
          <i class="material-icons-outlined">cloud</i>
        </div>
      </a>

      <a (click)="onRegisterClick()"
         [ngClass] = "{'selected': isRegisterState()}"
        class="tab register-tab">
        <div class="tab-tile">
          <i class="material-icons-outlined">app_registration</i>
        </div>
      </a>
    </div>

  </div>
</div>
