<mat-card>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <form [formGroup]="user" (ngSubmit)="submitForm()" *ngIf="allTopics">
    <mat-horizontal-stepper #stepper class="registration-stepper" formArrayName="userDetails" linear>
      <mat-step formGroupName="0" label="Basic Details" [stepControl]="userDetails.get([0])">
        <h5>Personal Details</h5>
        <mat-form-field class="first-name">
          <input matInput formControlName="name" placeholder="First Name"/>
          <mat-error *ngIf="userDetails.get([0]).get('name').hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="last-name">
          <input matInput formControlName="lastName" placeholder="Last Name"/>
          <mat-error *ngIf="userDetails.get([0]).get('lastName').hasError('required')">
            Last name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="username">
          <input matInput formControlName="username" placeholder="Username"/>
          <mat-error *ngIf="userDetails.get([0]).get('username').hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field><br />
        <mat-form-field class="email">
          <input type="email"
                 matInput formControlName="email"
                 placeholder="Email"/>
          <mat-error *ngIf="userDetails.get([0]).get('email').hasError('email') && !userDetails.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="userDetails.get([0]).get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-hint *ngIf="!userDetails.get([0]).get('email').value">Ex. georgmich@example.com</mat-hint>
        </mat-form-field><br/>
        <mat-form-field class="password">
          <input
            matInput formControlName="password" placeholder="Password"
            [type]="hide ? 'password' : 'text'"
            required
          />
          <mat-icon matSuffix (click)="hide = !hide">
            {{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          <mat-hint *ngIf="!passwordInput.value">Enter a <b>strong</b> password</mat-hint>
        </mat-form-field><br />
        <button mat-button matStepperNext type="button">Next</button>
      </mat-step>
      <mat-step label="Additional Details" formGroupName="1" [stepControl]="userDetails.get([1])">
        <h6>Give us a few more details</h6>
        <mat-form-field class="date">
          <mat-label>Choose a date</mat-label>
          <input formControlName="dateOfBirth" matInput [matDatepicker]="picker">
          <mat-hint>Day/Month/Year</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="userDetails.get([1]).get('dateOfBirth').hasError('invalidDOBYear')">
            You must be at least 18 years old to register.
          </mat-error>
        </mat-form-field><br/>
        <mat-form-field class="gender">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender" [(ngModel)]="selectedValue" name="gender">
            <mat-option *ngFor="let gender of genders" [value]="gender.value">
              {{gender.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field><br />
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </mat-step>
      <mat-step label="Tell us about you" formGroupName="2" [stepControl]="userDetails.get([2])">
        <mat-form-field class="about">
          <mat-label>Tell us a few things about yourself</mat-label>
          <textarea formControlName="about" matInput placeholder="Ex. I am the next Elon Musk..."></textarea>
        </mat-form-field><br />
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </mat-step>
      <mat-step label="Topic Interests" formGroupName="3" [stepControl]="userDetails.get([3])">
        <mat-form-field class="registration-topics">
          <mat-label>Topics</mat-label>
          <mat-select formControlName="topics" multiple>
            <mat-select-trigger>
              {{topicsInput ? topicsInput : ''}}
              <span *ngIf="topicsInput?.length > 1">
                (+{{topicsInput.length - 1}} {{topicsInput?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let topic of allTopics" [value]="topic">{{topic}}</mat-option>
          </mat-select>
          <mat-hint>Choose a few topics that align with your interests so we can show you content related to them</mat-hint>
        </mat-form-field><br/>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </mat-step>
      <mat-step label="Avatar Selection" formGroupName="4" [stepControl]="userDetails.get([4])">
        <h6>Upload your profile avatar</h6>
        <mat-form-field class="avatar">
          <!--<mat-label>Avatar Nickname</mat-label>
          <input matInput formControlName="name"/>-->
          <ngx-mat-file-input formControlName="avatar" (change)="showPreview($event)"></ngx-mat-file-input>
        </mat-form-field>
        <!--<input type="file" accept="image/*" (change)="showPreview($event)" />-->
        <mat-error *ngIf="userDetails.get([4]).get('avatar').hasError('invalidSize')">
          Maximum upload file size is 2MB
        </mat-error><br /><br />
        <mat-divider [inset]="true"></mat-divider>
        <p class="paragraphs">Eden uses your data to provide you with personalized content that will be closer to your interests. For that we
          require your permission. We cannot let you continue if you don't accept this term.</p><br/>
        <mat-checkbox color="primary" formControlName="accepted">I understand the above term and I accept.</mat-checkbox><br/>
        <button mat-button matStepperPrevious type="button">Back</button>
        <!--<button *ngIf="!acceptedTerms" [disabled]="true" matTooltip="You need to accept the above term in order to register">Register</button>-->
        <button [disabled]="!acceptedTerms " mat-button>Register</button>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</mat-card>
