.mat-card {
  margin: auto;
  background: transparent;
}

.mat-card mat-spinner {
  margin: auto;
}

.mat-card form {
  margin: inherit;
  padding: 5px;
  border-radius: 10px;
}

.mat-form-field {
  /*margin: auto;*/
  padding: 15px;
}

.first-name{
  width: 50%;
}

.last-name{
  width: 50%;
}

.username{
  width: 100%;
}

.email{
  width: 100%;
}

.password{
  width: 100%;
}

.date {
  width: 100%;
}

.gender {
  width: 100%;
}

.about {
  width: 100%;
}

.registration-topics {
  width: 100%;
}

.registration-stepper {
  height: 100%;
  width: 70%;
  margin: auto;
  display: inherit;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.65);
}

.post-preview {
  margin-top: 1em;
}

.post-preview-image {
  object-fit: cover;
  object-position: center;
  width: 50px;
  height: 50px;
  border-radius: 2em;
  border: 1px dashed gray;
}

.paragraphs{
  font-size: medium;
  font-palette: light;
}
