<div class="tabs">
  <a [routerLink]="'login'"
    class="tab login-tab">
    <div class="tab-tile">
      <i class="material-icons-outlined">face_5</i>
    </div>
  </a>

  <a class="tab info-tab">
    <div class="tab-tile">
      <i class="material-icons-outlined">cloud</i>
    </div>
  </a>

  <a class="tab register-tab">
    <div class="tab-tile">
      <i class="material-icons-outlined">app_registration</i>
    </div>
  </a>
</div>
