<mat-card>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class = "username">
      <mat-label>Enter your userName</mat-label>
      <input matInput [formControlName]="'username'" placeholder="Username"/>
      <mat-error *ngIf="loginForm.get('username').hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field><br />
    <mat-form-field class="password">
      <mat-label>Enter your password</mat-label>
      <input matInput type="password" [formControlName]="'password'" placeholder="Password"/>
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field><br />
    <button class="login-button" mat-button color="primary" [disabled]="!loginForm.valid" type="submit">Login</button>
  </form>
</mat-card>



<!--<div id="authenticator">-->
<!--  <form [formGroup] = "loginForm" (ngSubmit) ="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="userName" placeholder="Username"/>
    </mat-form-field><br />
    <mat-form-field>
      <input
        matInput formControlName="password" placeholder="Password"
        required
      />
      &lt;!&ndash;<mat-hint *ngIf="!passwordInput.value">Enter a <em>strong</em> e password</mat-hint>&ndash;&gt;
    </mat-form-field><br />
    <button mat-flat-button color="primary">Login</button>
  </form>-->

  <!--<mat-card id="authenticator-content">
    <mat-card-header>
      <mat-card-title>{{getStateText()}}</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div *ngIf="isLoginState()">
        <input placeholder="Username" formControlName="userName"/>
        <input placeholder="Password" type="password" formControlName="password"/>
        <button mat-flat-button color="primary">Login</button>
      </div>
      <div *ngIf="isRegisterState()">
        <input placeholder="Email" formControlName="email">
        <input placeholder="Password" type="password" formControlName="password">
        <input placeholder="Confirm Password" type="password" formControlName="password">
        <button mat-flat-button color="primary">Register</button>
      </div>
      <div *ngIf="isForgotPasswordState()">
        <input placeholder="Email" formControlName="email"/>
        <button mat-flat-button color="primary">Reset</button>
      </div>
    </form>
      <mat-card-actions align="end">
        <button (click)="onForgotPasswordClick()"
                mat-flat-button>Forgot Password</button>
        <button (click)="onCreateAccountClick()"
                mat-flat-button>Create an Account</button>
        <button (click)="onLoginClick()"
                mat-flat-button>Login</button>
      </mat-card-actions>
  </mat-card>-->
<!--</div>-->
